div.input-group select.form-control {
	height: 32px !important;
}
body{

	background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-01/1674297808_catherineasquithgallery-com-p-krasivii-serii-fon-dlya-storis-foto-144.png");
	background-size: 100%;
}