body {
    padding-top: 40px;
    
        background-size: 100%;
    
}

.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #04c4e2;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #e1ff02;
}

div.filters {
    padding-bottom: 5px;
}

